
bin/Debug/net6.0/ArmyAPI
bin/Debug/net6.0/ArmyAPI.dll
bin/Debug/net6.0/ArmyAPI.pdb
obj/ArmyAPI.csproj.EntityFrameworkCore.targets
obj/ArmyAPI.csproj.nuget.dgspec.json
obj/ArmyAPI.csproj.nuget.g.props
obj/Debug/net6.0/apphost
obj/Debug/net6.0/ArmyAPI.assets.cache
obj/Debug/net6.0/ArmyAPI.csproj.AssemblyReference.cache
obj/Debug/net6.0/ArmyAPI.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ArmyAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ArmyAPI.dll
obj/Debug/net6.0/ArmyAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ArmyAPI.genruntimeconfig.cache
obj/Debug/net6.0/ArmyAPI.pdb
obj/Debug/net6.0/ref/ArmyAPI.dll
obj/Debug/net6.0/refint/ArmyAPI.dll
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
bin/Debug/net6.0/ArmyAPI
bin/Debug/net6.0/ArmyAPI.dll
bin/Debug/net6.0/ArmyAPI.pdb
obj/ArmyAPI.csproj.nuget.dgspec.json
obj/ArmyAPI.csproj.nuget.g.props
obj/Debug/net6.0/apphost
obj/Debug/net6.0/ArmyAPI.assets.cache
obj/Debug/net6.0/ArmyAPI.csproj.AssemblyReference.cache
obj/Debug/net6.0/ArmyAPI.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ArmyAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ArmyAPI.dll
obj/Debug/net6.0/ArmyAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ArmyAPI.genruntimeconfig.cache
obj/Debug/net6.0/ArmyAPI.pdb
obj/Debug/net6.0/ref/ArmyAPI.dll
obj/Debug/net6.0/refint/ArmyAPI.dll
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
